label {
	display: block;
	margin: 5px 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 5px;
	border-bottom: 1px solid #aaa;
}

body{
	background-color: #2b2e3d;
	color: white;
	font-family: "Helvetica Light",Helvetica;
}

.imageDiv{
	width: 15%;
	height: 15%;
	display:inline-block;
	margin: 0 auto;
}

a { text-decoration: none; color: #22fafa } /* Globally */

/* Each state */

a:visited { text-decoration: none; color:#22fafa; }
a:hover { text-decoration: none; color:#22fafa; }
a:focus { text-decoration: none; color:#22fafa; }
a:hover, a:active { text-decoration: none; color:#22fafa }

h2 {
	color: #fc667c;
}